{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

<div class="container mx-auto text-light text-center my-5">
  <h1 class="display-1 fw-bold">Drive Assist</h1>
</div>

<div class="container mt-5">
    <div class="card shadow p-4 border-light border-thick">
        <h3 class="text-center mb-4">Phone Detection</h3>
        <canvas id="phoneCheck" height="400"></canvas>

        <h4 id="geminiSummary1" class="my-2 text-dark-center mx-5">No Data To Show</h4>
    </div>
</div>

<div class="container mt-5">
    <div class="card shadow p-4 border-light border-thick">
        <h3 class="text-center mb-4">Eyes Getting Distracted</h3>
        <canvas id="eyePan" height="400"></canvas>

        <h5 id="eyePanVariance" class="mt-5 text-dark text-left mx-5"></h5>
        <br>
        <h4 id="geminiSummary2" class="my-2 text-dark-center mx-5">No Data To Show</h4>
    </div>
</div>

<div class="container mt-5">
    <div class="card shadow p-4 border-light border-thick">
        <h3 class="text-center mb-4">Abnormal Head Tilts</h3>
        <canvas id="headTilt" height="400"></canvas>
        
        <h5 id="headTiltVariance" class="mt-5 text-dark text-left mx-5"></h5>
        <br>
        <h4 id="geminiSummary3" class="my-2 text-dark-center mx-5">No Data To Show</h4>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-light text-dark w-40 h-20 my-5 py-3 px-3" onclick="getGraphs()"><h2>Refresh Graphs</h2></a>
</div>

</div>

{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='general_script.js') }}"></script>
{% endblock script %}