body {
    background-color: #2e1f35;
    /* background-image: url("{{ url_for('static', filename='images/Background.png') }}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; */
}

.card {
    background-color: #a857c7;
}

.border-thick {
    border-width: 5px;
    border-color: #b59cb6
}